{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
    <h1>Add Trip</h1>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <input type="submit" value="Submit" class="btn">
    <a class="btn" href="{% url 'index' %}">Cancel</a>
</form>
<script>
    var dateAr = document.getElementById('id_arrival');
    M.Datepicker.init(dateAr, {
      format: 'dd-mm-yyyy',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    var dateDe = document.getElementById('id_departure');
    M.Datepicker.init(dateDe, {
      format: 'dd-mm-yyyy',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  </script>

{% endblock %}