{% extends 'base.html' %}

{% block content %}
<h1>Trip Details</h1>
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ trip.name }}</span>
            <p>Description: {{ trip.description }}</p>
            <p>Arrival: {{ trip.arrival }}</p>
            <p>Departure: {{ trip.departure }}</p>
        </div>
      <div class="card-action">
        <a href="{% url 'trips_update' trip.id %}">Edit</a>
        <a href="{% url 'trips_delete' trip.id %}">Delete</a>
        </div>
       </div>
          {% for photo in trip.photo_set.all %}
         <img class="responsive-img card-panel" src="{{photo.url}}" alt="{{trip.name}}">
          {% empty %}
         <div class="card-panel teal-text center-align">No Photos Uploaded</div>
          {% endfor %}
       <form action="{% url 'add_photo' trip.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
          {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">
      </form>
    </div>
   <div class="col s6">
    <form action="{% url 'add_activity' trip.id %}" method="post">
      {% csrf_token %}
      {{ activity_form.as_p }}
      <input type="submit" class="btn" value="Add Activity">
    </form>
      <table class="striped">
        <thead>
          <tr><th>Date/Time</th><th>Activity</th><th>Tickets</th></tr>
        </thead>
        <tbody>
          {% for activity in trip.activity_set.all %}
           <tr>
              <td>{{activity.date}}</td>
              <td>{{activity.activity}}</td>
              <td>{{activity.get_tickets_display}}</td>
            </tr>
          {% endfor %}
         </tbody>
       </table>
    </div>
  </div>
<hr>
<div class="row">
 <div class="col s6">
  <h3>{{ trip.name }} Trip Landmarks</h3>
  {% if trip.landmarks.count %}
  {% for landmark in trip.landmarks.all %}
    <div class="card">
     <div class="card-content">
      <span class="card-title">
       {{ landmark.name }}
       <div class="card-action">
        <a href="{% url 'landmarks_delete' landmark.id %}">Remove from trip</a>
    </div>
      </span>
    </div>
 </div>
 {% endfor %}
 {% else %}
 <h5>No Landmarks :(</h5>{% endif %}
</div>
<div class="col s6">
  <h3>Nearby Landmarks</h3>
  {% if landmarks.count %}
    {% for landmark in landmarks.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ landmark.name }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_landmark' trip.id landmark.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Add to trip</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>You've seen all nearby landmarks during this trip! Awesome!</h5>
  {% endif %}
</div>
        <script>
          var dateEl = document.getElementById('id_date');
          M.Datepicker.init(dateEl, {
            format: 'dd-mm-yyyy',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
          });
          var selectEl = document.getElementById('id_tickets');
          M.FormSelect.init(selectEl);
        </script>

{% endblock %}